@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.main-right {
    margin-top: 25px;
}

.a {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.a svg path {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.b {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px 35px;
}

.b h1 {
    color: #003459;
    font-family: Lato;
    font-size: 20px;
    margin: 0;
}

form {
    padding: 10px 35px;
    width: 45%;
}

form>div {
    display: flex;
    flex-direction: column;
}

form>div input,
form>div textarea {
    width: 90%;
    height: 50px;
    border: 1px solid #DFEAF2;
    border-radius: 10px;
    padding: 0 20px;
    color: #003459;
    background-color: transparent;
}

form>div:nth-of-type(2) textarea {
    padding: 10px 20px;
    height: 130px;
}

form>div input:focus,
form>div textarea:focus {
    border: 1.5px solid #1B3764;
    outline: none;
}

form>div label {
    font-size: 12px;
    color: #4B4B4B;
    font-family: Poppins;
    margin: 7px 0;
}

.i {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 10px 35px;
}

.i button {
    color: #0F3659;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #C3D3E2;
    background: none;
    cursor: pointer;
    transition: .15s ease;
    margin-left: 15px;
}

.i button:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.i>button:nth-of-type(2) {
    background: #003459;
    color: #fff;
    margin-right: 20px;
}

.h p {
    font-size: 13.5px;
    color: #4B4B4B;
    font-family: Poppins;
    margin: 7px 0;
}

.h>div:first-of-type,
.h>div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 450%;
}


.h>div>div:nth-of-type(2) {
    height: 50px;
}

.h>div>p {
    font-size: 13.5px;
    color: #4B4B4B;
    font-family: Poppins;
    margin: 7px 0;
}.h {
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding: 10px 35px;
    width: 722px;
}
.radio-selects {
    margin-top: 10px;
}

.radio-selects form {
    display: flex;
    flex-direction: row;
}

.radio-selects form label {
    color: #99A2A5;
    margin-right: 30px;
}

.radio-selects form input {
    transform: scale(2.5);
    margin-right: 10px;
    accent-color: #003049;
}