@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.a {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.a svg path {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.b {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px 35px;
}

.b h1 {
    color: #003459;
    font-family: Lato;
    font-size: 20px;
    margin: 0;
}

form {
    padding: 10px 35px;
    width: 45%;
}

form>div {
    display: flex;
    flex-direction: column;
}

form>div input,
form>div textarea {
    width: 90%;
    height: 50px;
    border: 1px solid #DFEAF2;
    border-radius: 10px;
    padding: 0 20px;
    color: #003459;
    background-color: transparent;
}

form>div:nth-of-type(2) textarea {
    padding: 10px 20px;
    height: 130px;
}

form>div input:focus,
form>div textarea:focus {
    border: 1.5px solid #1B3764;
    outline: none;
}

form>div label {
    font-size: 12px;
    color: #4B4B4B;
    font-family: Poppins;
    margin: 7px 0;
}

.i {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 10px 35px;
}

.i button {
    color: #0F3659;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #C3D3E2;
    background: none;
    cursor: pointer;
    transition: .15s ease;
    margin-left: 15px;
}

.i button:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.i>button:nth-of-type(2) {
    background: #003459;
    color: #fff;
    margin-right: 20px;
}

/* STYLING FOR DISCARD MODAL */
.disclaimer-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(16, 60, 219, 0.15);
    display: none;
    justify-content: center;
    align-items: start;
    z-index: 9000;
}

.disclaimer-modal.active {
    display: flex;
}

.discard-disclaimer {
    position: relative;
    width: 34%;
    max-width: 60rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 20px 35px;
    border-radius: 10px;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.discard-disclaimer>div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.discard-disclaimer>div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
}

.discard-disclaimer>div:nth-of-type(2)>div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    aspect-ratio: 1/1;
    border-radius: 8px;
    background-color: rgba(255, 57, 50, 0.1);
}

.discard-disclaimer i {
    color: #FF3932;
    padding: 3px;
    background-color: rgba(255, 57, 50, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.discard-disclaimer>div:nth-of-type(2)>div:first-of-type svg {
    transform: scale(0.7);
}

.discard-disclaimer>div:nth-of-type(2)>div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.discard-disclaimer>div:nth-of-type(2)>div:nth-of-type(2)>p {
    margin: 0;
}

.discard-disclaimer>div:nth-of-type(2)>div:nth-of-type(2)>p:first-of-type {
    color: #FF3932;
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
}

.discard-disclaimer>div:nth-of-type(2)>div:nth-of-type(2)>p:nth-of-type(2) {
    color: rgba(84, 89, 94, 0.60);
    font-family: Poppins;
    font-size: 12.5px;
    text-wrap: nowrap;
}

.discard-disclaimer>div:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.discard-disclaimer>div:nth-of-type(3) button {
    color: #4F4F4F;
    width: 45%;
    height: 35px;
    border-radius: 6px;
    border: 1px solid #B5B5BD;
    background: none;
    cursor: pointer;
    transition: .15s ease;
    margin-left: 15px;
    font-family: Inter;
}

.discard-disclaimer>div:nth-of-type(3) button:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.discard-disclaimer>div:nth-of-type(3)>button:nth-of-type(2) {
    background: #FF3932;
    border: none;
    color: #fff;
}