body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF;
}

/* MAIN SECTION STYLES */
.All-section {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80%;
    right: 0;
    margin-top: 60px;
    /* border: 1px solid black; */
    height: 100%;
    background: #F7F7F8;
}

