@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF;
}
.edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 4000;
    overflow-y: scroll;
}

/* MAIN SECTION STYLES */
.edit-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80%;
    right: 0;
    margin-top: 60px;
    /* border: 1px solid black; */
    background-color: rgba(0, 42, 72, 0.2);
}

.sub-section {
    background-color: #FFF;
    height: 100%;
    width: 80%;
    margin: 26px;
}

.a {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.a svg path {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.b {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px 35px;
}

.b h1 {
    color: #003459;
    font-family: Lato;
    font-size: 20px;
    margin: 0;
}


.f {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px 35px;
    width: 722px;

}


.f>div:nth-of-type(2) {
    height: 50px;
    width: 40rem;
}


.d p,
.e p,
.f p,
.g p,
.h p {
    font-size: 13.5px;
    color: #4B4B4B;
    font-family: Poppins;
    margin: 7px 0;
}


.f textarea {
    width: 100%;
    height: 100%;
    border: 1px solid #CACACA;
    border-radius: 10px;
    padding: 0 40px;
    color: #003459;
}


.f textarea:focus {
    border: 1.5px solid #1B3764;
    outline: none;
}


.f textarea::placeholder {
    color: #CACACA;
    font-size: 14px;
    font-family: Inter;
}

.f textarea {
    resize: vertical;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    padding-top: 20px;
}

.f textarea::placeholder {
    text-align: left;
}

.f textarea:focus {
    text-align: left;
}

.d,
.e,
.g {
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding: 10px 35px;
    width: 722px;
}

.d>div:first-of-type,
.d>div:nth-of-type(2),
.e>div:first-of-type,
.e>div:nth-of-type(2),
.h>div:first-of-type,
.h>div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 450%;
}

.d>div>div:nth-of-type(2),
.e>div>div:nth-of-type(2),
.h>div>div:nth-of-type(2) {
    height: 50px;
}


.d>div>p,
.e>div>p,
.h>div>p {
    font-size: 13.5px;
    color: #4B4B4B;
    font-family: Poppins;
    margin: 7px 0;
}

.d div input,
.e div input {
    width: 80%;
    height: 100%;
    border: 1px solid #CACACA;
    border-radius: 10px;
    padding: 0 40px;
    color: #003459;
}

.d div input:focus,
.e div input:focus {
    border: 1.5px solid #1B3764;
    outline: none;
}

.d div input::placeholder,
.e div input::placeholder {
    color: #CACACA;
    font-size: 14px;
    font-family: Inter;
}

/* .e>div:first-of-type>div:nth-of-type(2) {
    position: relative;
    width: 80%;
    height: 100%;
    border: 1px solid #CACACA;
    border-radius: 10px;
    padding: 0 40px;
    color: #003459;
}  */

.e>div:first-of-type>div:nth-of-type(2) .calendar {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.e>div:first-of-type>div:nth-of-type(2) .close {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.e>div:first-of-type>div:nth-of-type(2) i {
    color: #AAAAAA;
    cursor: pointer;
}

.e>div:first-of-type>div:nth-of-type(2) #year {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.e select {
    background-color: transparent;
    border: none;
    font-size: 17px;
    font-family: Arial, sans-serif;
    color: #003049;
    padding-right: 5px;
    padding-left: 5px;
}

.e select:hover,
.e select:focus {
    outline: none;
    border-color: #003049;
}

.g,
.h {
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding: 10px 35px;
    width: 722px;
}

.g>div:first-of-type,
.g>div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 450%;
}

.g>div>div:nth-of-type(2) {
    height: 50px;
}

.g>div>p {
    font-size: 13.5px;
    color: #4B4B4B;
    font-family: Poppins;
    margin: 7px 0;
}

.g div input {
    width: 80%;
    height: 100%;
    border: 1px solid #CACACA;
    border-radius: 10px;
    padding: 0 40px;
    color: #003459;
}

.g div input:focus {
    border: 1.5px solid #1B3764;
    outline: none;
}

.g div input::placeholder {
    color: #CACACA;
    font-size: 14px;
    font-family: Inter;
}

.g>div:first-of-type>div:nth-of-type(2) {
    position: relative;
}

.g>div:first-of-type>div:nth-of-type(2) .close {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.g>div:first-of-type>div:nth-of-type(2) i {
    color: #AAAAAA;
    cursor: pointer;
}

.custom-select-wrapper {
    position: relative;
    width: 100%;
}

.custom-select-wrapper::after {
    content: '▼';
    font-size: 12px;
    color: #313144;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.custom-select-wrapper select option:nth-of-type(2) {
    color: rgb(255, 173, 13);
    background-color: rgba(255, 173, 13, 0.2);
    padding: 3px 8px;
}

.custom-select-wrapper select option:nth-of-type(3) {
    background-color: rgba(96, 181, 39, 0.2);
    color: rgb(96, 181, 39);
}

.custom-select-wrapper select option:nth-of-type(4) {
    color: rgb(255, 57, 50);
    background-color: rgba(255, 57, 50, 0.2);
}

.custom-select-wrapper select option:first-child {
    color: #A9A9A9;
}

.custom-select-wrapper select:focus {
    border-color: #003459;
    outline: none;
}

.custom-select-wrapper select option {
    padding: 20px 10px;
    background-color: #FFF;
    color: #333;
    height: 40px;
}

.custom-select-wrapper select option:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.custom-select-wrapper select option:checked {
    background-color: #003049;
    color: white;
}

select {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    color: #CACACA;
    border: 1px solid #CACACA;
    border-radius: 10px;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.custom-select-wrapper::after {
    content: '▼';
    font-size: 12px;
    color: #313144;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.custom-select-wrapper select option {
    color: #333;
}

.custom-select-wrapper select option:first-child {
    color: #A9A9A9;
}

.custom-select-wrapper select:focus {
    border-color: #003459;
    outline: none;
}

.custom-select-wrapper select option {
    padding: 20px 10px;
    background-color: #FFF;
    color: #333;
    height: 40px;
}

.custom-select-wrapper select option:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.custom-select-wrapper select option:checked {
    background-color: #003049;
    color: white;
}

.radio-selects {
    margin-top: 10px;
}

.radio-selects form {
    display: flex;
    flex-direction: row;
}

.radio-selects form label {
    color: #99A2A5;
    margin-right: 30px;
}

.radio-selects form input {
    transform: scale(2.5);
    margin-right: 10px;
    accent-color: #003049;
}

.i {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 10px 35px;
    width: 722px;
}

.i button {
    color: #0F3659;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #C3D3E2;
    background: none;
    cursor: pointer;
    transition: .15s ease;
    margin-left: 15px;
}

.i button:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.i>button:nth-of-type(2) {
    background: #003459;
    color: #fff;
    margin-right: 20px;
}

/* STYLING FOR DISCARD MODAL */
.disclaimer-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(16, 60, 219, 0.15);
    display: none;
    justify-content: center;
    align-items: start;
    z-index: 9000;
}

.disclaimer-modal.active {
    display: flex;
}

.discard-disclaimer {
    position: relative;
    width: 34%;
    max-width: 60rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 20px 35px;
    border-radius: 10px;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.discard-disclaimer>div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.discard-disclaimer>div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
}

.discard-disclaimer>div:nth-of-type(2)>div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    aspect-ratio: 1/1;
    border-radius: 8px;
    background-color: rgba(255, 57, 50, 0.1);
}

.discard-disclaimer i {
    color: #FF3932;
    padding: 3px;
    background-color: rgba(255, 57, 50, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.discard-disclaimer>div:nth-of-type(2)>div:first-of-type svg {
    transform: scale(0.7);
}

.discard-disclaimer>div:nth-of-type(2)>div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.discard-disclaimer>div:nth-of-type(2)>div:nth-of-type(2)>p {
    margin: 0;
}

.discard-disclaimer>div:nth-of-type(2)>div:nth-of-type(2)>p:first-of-type {
    color: #FF3932;
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
}

.discard-disclaimer>div:nth-of-type(2)>div:nth-of-type(2)>p:nth-of-type(2) {
    color: rgba(84, 89, 94, 0.60);
    font-family: Poppins;
    font-size: 12.5px;
    text-wrap: nowrap;
}

.discard-disclaimer>div:nth-of-type(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.discard-disclaimer>div:nth-of-type(3) button {
    color: #4F4F4F;
    width: 45%;
    height: 35px;
    border-radius: 6px;
    border: 1px solid #B5B5BD;
    background: none;
    cursor: pointer;
    transition: .15s ease;
    margin-left: 15px;
    font-family: Inter;
}

.discard-disclaimer>div:nth-of-type(3) button:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.discard-disclaimer>div:nth-of-type(3)>button:nth-of-type(2) {
    background: #FF3932;
    border: none;
    color: #fff;
}









.custom-select-wrapper2 {
    position: relative;
    width: 100%;
}

.custom-select-wrapper2::after {
    content: '▼';
    font-size: 12px;
    color: #313144;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}



.custom-select-wrapper2 select option:first-child {
    color: #A9A9A9;
}

.custom-select-wrapper2 select:focus {
    border-color: #003459;
    outline: none;
}

.custom-select-wrapper2 select option {
    padding: 20px 10px;
    background-color: #FFF;
    color: #333;
    height: 40px;
}

.custom-select-wrapper2 select option:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.custom-select-wrapper2 select option:checked {
    background-color: #003049;
    color: white;
}