@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    z-index: 200;
}

/* upper part of sidebar */
.side-upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.side-upper img{
    flex-shrink: 0;
}

.side-upper h1 {
    color: #151D48;
    margin-left: 20px;
}


/* middle part of sidebar */
.side-middle {
    display: flex;
    flex-direction: column;
}

.side-middle>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px 20px;
    border-radius: 12px;
    transition: .15s ease;
    cursor: pointer;
}

.side-middle>div:hover {
    background-color: #1B3764;
    opacity: 0.7;
}

.side-middle>div.active,
.side-middle>div>p.active {
    color: #fff;
    background-color: #1B3764;
}

.side-middle>div svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    padding: 0 10px;
}

.side-middle>div p {
    color: #737791;
    font-size: 13px;
    padding: 0 5px;
}

/* lower part of sidebar */
.side-lower {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.side-lower div i {
    font-size: 20px;
    flex: 1;
    padding: 0 30px;
}

.side-lower div p {
    flex: 4;
}

/* HEADER */
.header {
    position: fixed;
    background-color: #fff;
    top: 0;
    right: 0;
    width: calc(80% - 3%);
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
    z-index: 400;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
}

.header-left h1 {
    color: #1B3764;
    font-size: 24px;
}

.header-middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.input-box {
    width: 100%;
    max-width: 50vw;
    position: relative;
}

.input-box .search {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.input-box input {
    border: none;
    background: #F9FAFB;
    width: 100%;
    height: 35px;
    border-radius: 13px;
    padding: 3px 40px;
}

.input-box input:focus {
    outline: 1.5px solid #1B3764;
}

.input-box i {
    font-size: 20px;
    color: #1B3764;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-right>div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #FFFAF1;
    border-radius: 8px;
    height: 40px;
    width: 40px;
    margin: 0 20px;
}

.header-right>div:first-of-type svg {
    width: 16.5px;
}

.header-right>div:first-of-type {
    position: relative;
    width: 40px;
    /* Adjust size as needed */
    height: 40px;
    background-color: #FFF8EE;
    /* Light background similar to your image */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-dot {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid white;
}

.header-right>div:nth-of-type(2) img {
    width: 40px;
    height: 40px;
    border-radius: 12px;
}

.header-right>div:nth-of-type(3)>p:first-of-type {
    font-size: 14px;
    margin: 2px 18px;
    color: #151D48;
    font-weight: bold;

}

.header-right>div:nth-of-type(3)>p:nth-of-type(2) {
    font-size: 12px;
    margin: 2px 18px;
}

.header-right>div:nth-of-type(4) {
    position: relative;
}

.header-right>div:nth-of-type(4)>i {
    font-size: 20px;
    cursor: pointer;
}

/* Hide dropdown initially */
.header-drop-down {
    position: absolute;
    top: 60px;
    right: 0;
    padding-bottom: 25px;
    width: 250px;
    background-color: white;
    border: none;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 500;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header-drop-down>div:first-of-type {
    position: absolute;
    display: flex;
    top: 13px;
    right: 0;
    width: 30px;
    height: 30px;
}

.header-drop-down>div:first-of-type:hover {
    background: none;
}

.header-drop-down>div:first-of-type i {
    padding: 6px 6px;
    border-radius: 50px;
    color: red;
    background: #FFF8EE;
}

.header-drop-down div {
    padding: 6px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-drop-down div:nth-of-type(2) {
    margin-top: 50px;
}

.header-drop-down div:hover {
    background-color: #f0f0f0;
}

.header-drop-down>div:nth-of-type(2) i,
.header-drop-down>div:nth-of-type(3) i {
    padding: 10px;
    background-color: #151D48;
    color: #fff;
    border-radius: 50%;
}

.header-drop-down>div:nth-of-type(2) p,
.header-drop-down>div:nth-of-type(3) p {
    font-size: 14px;
    margin-left: 20px;
}

.header-drop-down.active {
    display: block;
}

